/* Grid Container
############################################################################ */

.grid-container {
  display: grid;
  gap: $m;
  grid-template-columns: 1fr;
  transition: all 0.5s;

  & > li > a {
    display: flex;
    height: 100%;
  }

  &[data-view-mode="list-view"] {
    grid-template-columns: 1fr;

    li > a {
      display: block;
    }
  }
}

.grid-container-zweispalter {
  display: grid;
  gap: $m;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: $vp-medium) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-container-zweispalter {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (min-width: $vp-large) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Page
############################################################################ */

.page {
  max-width: $vp-xlarge;
  margin: 0 auto;
}
